h1 
{
color: #0c43da;
font-style: italic;
font-size: 35px;
}

h2
{
color: #da0c0c;
font-style: oblique;
text-align: center;
font-size: 20px;
}

h3
{
color: #0cda16;
font-style: oblique;
text-align: center;
font-size: 40px;
}

.header1
{
background-color: rgba(47, 255, 238, 0.979) ;
}

.header2
{
background-color: rgba(47, 95, 255, 0.979) ;
background-size: '100%';
}


input
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}

input:focus{border: 3px solid #555;}

input:hover {
  background-color:yellowgreen;
  color: white;
}

.button1
{
  font-size: 19px;
  border-radius: 10px;
  border: #282c34; 
  font-style: oblique;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 10px;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}


.button2
{
  font-size: 19px;
  border-radius: 10px;
  border: #26488d; 
  font-style: oblique;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
  margin-left: 100px
  
}

.button2:hover {
  background-color: rgb(186, 0, 87);
  color: white;
}

ul
{
  list-style-type: none
   
}

